html,
body,
#root {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  width: 100%;
  display: flex;
  height: 100%;
  font-family: sans-serif;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* Copied from Modal */
.LoadingOverlay,
.SubmitOverlay,
.GapiLoadingOverlay {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

.SubmitOverlayContent,
.gapiLoadingOverlayContent {
  display: flex;
  flex: 0 1 auto;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.overlayContentAlt {
  align-items: center;
  background-color: red;
  color: white;
}

.SubmitOverlayContentHeader {
  display: flex;
  width: 100%;
  background-color: blue;
  color: white;
}

.SubmitOverlayContentHeader span {
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

.SubmitOverlayContentHeader button {
  display: flex;
  border-style: none;
  background-color: white;
  height: fit-content;
}

@media (hover: hover) {
  .SubmitOverlayContentHeader button:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.SubmitOverlayContentBody {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: white;
  color: black;
}

.SubmitOverlayContentFooter {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: blue;
  color: white;
  height: 30px;
}

.GoogleCalendar {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
}

.GoogleCalendar button {
  font-weight: bold;
  color: white;
  background-color: rgb(0, 81, 255);
  border: none;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
}

@media (hover: hover) {
  .GoogleCalendar button:hover {
    cursor: pointer;
    background-color: rgb(53, 116, 250);
  }
}

.buttonBorder {
  width: 0;
  height: 100%;
  border-left: 1px solid white;
}

.content {
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.Courses {
  max-width: 100%;
  max-height: 100%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.CourseListHeader {
  flex-basis: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(224, 227, 228);
  margin: 0;
  width: 100%;
}

.CourseListHeader h3 {
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#yearDDL {
  flex: 1 0 fit-content;
  min-width: 0;
  box-sizing: border-box;
  border-style: none;
  margin-right: 2px;
  padding: 0;
  height: 32px;
}

#semesterDDL {
  flex: 0 0 fit-content;
  min-width: 0;
  box-sizing: border-box;
  border-style: none;
  padding: 0;
  margin-right: 2px;
  height: 32px;
}

.searchField {
  flex: 1 1 auto;
  min-width: 0;
  border-style: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  line-height: 22px;
}

@media (hover: hover) {
  .searchField:hover {
    border-color: rgb(52, 160, 248);
    box-shadow: 0px 0px 3px rgb(52, 160, 248);
  }
}

.searchField:focus {
  border-style: none;
  border-color: rgb(52, 160, 248);
  box-shadow: inset 0px 0px 3px rgb(52, 160, 248);
}

.searchField:hover:focus {
  border-style: none;
  box-shadow: 0px 0px 3px rgb(52, 160, 248), inset 0px 0px 3px rgb(52, 160, 248);
}

.CourseList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.Course {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(232, 238, 240);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
}
@media (hover: hover) {
  .Course:hover {
    color: white;
    background-color: rgb(94, 153, 243);
    cursor: pointer;
  }
}

.courseCode {
  font-weight: bold;
  margin: 0;
}

.courseName {
  margin: 0;
}

.Course p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeCourse {
  color: white;
  background-color: rgb(22, 104, 228);
}
@media (hover: hover) {
  .activeCourse:hover {
    background-color: rgb(29, 118, 252);
  }
}

.border {
  align-self: center;
  display: flex;
  margin: 5px 0px 0px 0px;
  width: 95%;
  border-bottom: 1px solid rgb(196, 190, 190);
}

.Schedule {
  min-width: 50%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ScheduleHeader {
  flex-basis: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(224, 227, 228);
  margin: 0;
  width: 100%;
}

.ScheduleHeader h3 {
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.scheduleCourseName {
  float: right;
}

.ScheduleGroupList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.ScheduleGroup {
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  background-color: rgb(232, 238, 240);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
}
@media (hover: hover) {
  .ScheduleGroup:hover {
    color: white;
    background-color: rgb(94, 153, 243);
    cursor: pointer;
  }
}

.someEventsSelected {
  color: white;
  background-color: rgb(118, 166, 230);
}
@media (hover: hover) {
  .someEventsSelected:hover {
    background-color: rgb(153, 192, 250);
  }
}

.allEventsSelected {
  color: white;
  background-color: rgb(63, 136, 231);
}
@media (hover: hover) {
  .allEventsSelected:hover {
    background-color: rgb(87, 154, 255);
  }
}

.ScheduleGroupTitle {
  font-weight: bold;
}

.ScheduleGroup p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.Loader {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0;
}

.ScheduleEventList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px 0px 0px 0px;
  overflow: auto;
}

.ScheduleEvent {
  width: 95%;
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  color: black;
  background-color: rgb(219, 222, 224);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
}
@media (hover: hover) {
  .ScheduleEvent:hover {
    color: white;
    background-color: rgb(59, 134, 247);
    cursor: pointer;
  }
}

.selectedEvent {
  color: white;
  background-color: rgb(22, 104, 228);
}
@media (hover: hover) {
  .selectedEvent:hover {
    background-color: rgb(29, 118, 252);
  }
}

.ScheduleEvent p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.EventTitle {
  font-weight: bold;
}

.eventDateTime {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.eventDateTime span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 4px 0px 4px;
}

.eventTime {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.eventTime p {
  padding: 0;
}

.eventLocation {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.eventLocation p {
  padding: 0px 4px 0px 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Loader {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0;
}

.data {
  display: none;
}
