/* In general most boxes make use of the flex-box property to grow into their
parents containers. Notable exceptions being the CourseList and ScheduleEventList
components, both of which are scrollable within their sections */

/* Headers and similar elemnts do specificially not grow to fit the height
of their parent, but there is usually a content section to fill the space
left by the header */

/* The .canHover class is a workaround for @media(hover: hover) not being
available in Firefox */

html,
body,
#root {
  display: flex;
  flex: 1;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex: 1;
  font-family: sans-serif;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/* Mostly copied from the modal tutorial */
.LoadingOverlay,
.SubmitOverlay {
  display: flex;
  flex: 1 1 100%;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.LoadingOverlay {
  position: relative;
}

.SubmitOverlay {
  position: fixed;
}

.SubmitOverlayContent {
  max-width: 80%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.541);
}

.SubmitOverlayContent img {
  object-fit: contain;
  margin: 10px;
}

.overlayContentAlt {
  align-items: center;
}

.overlayContentAlt p {
  font-weight: bold;
  margin: 10px;
}

.overlayContentAlt button {
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 81, 255);
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.541);
  transition: background-color 0.3s;
}

.canHover .overlayContentAlt button:hover {
  cursor: pointer;
  background-color: rgb(53, 116, 250);
}

.SubmitOverlayContentHeader {
  position: relative;
  flex-basis: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex-grow: 0;
  background-color: rgb(0, 110, 255);
  box-shadow: 0 2px 2px -2px black;
  color: white;
}

.SubmitOverlayContentHeader p {
  font-weight: bold;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  margin: 10px;
}

.SubmitOverlayContentHeader p::selection {
  color: black;
  background-color: white;
}

.cancelX {
  padding: 10px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
  object-fit: contain;
}

.canHover .cancelX:hover {
  cursor: pointer;
  background-color: red;
}

.SubmitOverlayContentBody {
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: white;
  color: black;
}

.SubmitOverlayContentBody p {
  margin: 10px;
}

.SubmitOverlayContentBody img {
  max-width: 100%;
  object-fit: contain;
  transform: rotate(-90deg);
}

.SubmitOverlayContentFooter {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(0, 110, 255);
  color: white;
  height: fit-content;
}

.SubmitOverlayContentFooter button {
  border-style: none;
  color: white;
  background-color: rgb(94, 147, 245);
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin: 10px;
  transition: background-color 0.3s;
  box-shadow: inset 0 0 5px rgba(190, 213, 255, 0.253);
}

.canHover .SubmitOverlayContentFooter button:hover {
  background-color: rgb(118, 164, 248);
  cursor: pointer;
}

.GoogleCalendar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.gapiFailed {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
}

.gapiFailed p {
  display: inline-block;
  margin: 0px 10px 10px 10px;
}

.GoogleCalendar button {
  display: flex;
  flex: 1 1 130px;
  padding: 10px;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 81, 255);
  border: 1px solid white;
  transition: background-color 0.3s;
}

.canHover .GoogleCalendar button:hover {
  cursor: pointer;
  background-color: rgb(53, 116, 250);
}

.buttonBorder {
  width: 0;
  height: 100%;
  border-left: 1px solid white;
}

.GapiLoading {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  min-width: 0;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  flex-direction: row;
  box-shadow: 0 2px 2px -2px black;
}

.GapiLoading span {
  display: flex;
  text-overflow: hidden;
  overflow: hidden;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
}

.GapiLoading p {
  margin: 10px;
}

.GapiLoading img {
  display: flex;
  max-width: 33%;
  transform: scale(-1);
}

.content {
  display: flex;
  flex: 1 1 100%;
  font-family: sans-serif;
  text-align: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.Courses {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  min-width: 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.CourseListHeader {
  position: relative;
  flex: 0 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(224, 227, 228);
  box-shadow: 0 5px 5px -5px black;
  margin: 0;
  width: 100%;
}

.CourseListHeader h3 {
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#yearDDL {
  flex: 1 0 fit-content;
  min-width: 0;
  box-sizing: border-box;
  border-style: none;
  margin-right: 2px;
  height: 32px;
}

#semesterDDL {
  flex: 0 0 fit-content;
  min-width: 0;
  box-sizing: border-box;
  border-style: none;
  margin-right: 2px;
  height: 32px;
}

.searchField {
  flex: 1 1 50px;
  min-width: 0;
  border-style: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  max-width: 100%;
  border-color: rgb(52, 160, 248);
  transition: box-shadow 0.3s;
}

.canHover .searchField:hover {
  box-shadow: 0px 0px 3px rgb(52, 160, 248);
}

.searchField:focus {
  border-style: none;
  border-color: rgb(52, 160, 248);
  box-shadow: inset 0px 0px 3px rgb(52, 160, 248);
}

.canHover .searchField:hover:focus {
  border-style: none;
  box-shadow: 0px 0px 3px rgb(52, 160, 248), inset 0px 0px 3px rgb(52, 160, 248);
}

.CourseList {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding-top: 3px;
  overflow: auto;
}

.Course {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(232, 238, 240);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
  transition: background-color 0.3s;
}
.canHover .Course:hover {
  color: white;
  background-color: rgb(94, 153, 243);
  cursor: pointer;
}

.courseCode {
  font-weight: bold;
  margin: 0;
}

.courseName {
  margin: 0;
}

.Course p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeCourse {
  color: white;
  background-color: rgb(22, 104, 228);
  transition: background-color 0.3s;
}
.canHover .activeCourse:hover {
  background-color: rgb(29, 118, 252);
}

.border {
  align-self: center;
  display: flex;
  margin: 5px 0px 0px 0px;
  width: 95%;
  border-bottom: 1px solid rgb(196, 190, 190);
}

.Schedule {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  max-height: 100%;
  min-width: 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .Schedule {
    flex-shrink: 0;
    width: 100%;
  }
}

.ScheduleHeader {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(224, 227, 228);
  box-shadow: 0 5px 5px -5px black;
  margin: 0;
}

.ScheduleHeader h3 {
  display: block;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.backButton {
  position: relative;
  display: block;
  object-fit: contain;
  top: 0;
  left: 0;
  margin-left: 10px;
  z-index: 1;
}

@media (max-width: 300px) {
  .ScheduleHeader {
    justify-content: center;
  }
  .backButton {
    left: initial;
    margin-right: 10px;
    order: 1;
  }
  .ScheduleHeader .checkmark {
    right: initial;
    margin-left: 10px;
    order: 2;
  }
}

.canHover .backButton:hover {
  border-radius: 3px;
  color: white;
  background-color: rgb(170, 186, 253);
  cursor: pointer;
}

.checkmark {
  position: absolute;
  display: block;
  object-fit: contain;
  top: 1px;
  right: 0;
  padding: 5px;
  margin-right: 20px;
  z-index: 1;
}

.ScheduleHeader .checkmark {
  position: relative;
  top: 0;
}

.canHover .checkmark:hover {
  border-radius: 3px;
  color: white;
  background-color: rgb(221, 252, 217);
  cursor: pointer;
}

.scheduleCourseName {
  float: right;
}

.ScheduleGroupList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-top: 3px;
  padding: 0;
  overflow: auto;
}

.ScheduleGroup {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  background-color: rgb(232, 238, 240);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}
.canHover .ScheduleGroup:hover {
  color: white;
  background-color: rgb(94, 153, 243);
  cursor: pointer;
}

.someEventsSelected {
  color: white;
  background-color: rgb(118, 166, 230);
  transition: background-color 0.3s;
}
.canHover .someEventsSelected:hover {
  background-color: rgb(153, 192, 250);
}

.allEventsSelected {
  color: white;
  background-color: rgb(63, 136, 231);
  transition: background-color 0.3s;
}
.canHover .allEventsSelected:hover {
  background-color: rgb(87, 154, 255);
}

.scheduleGroupTitle {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

@media (max-width: 300px) {
  .scheduleGroupHeader .checkmark {
    position: relative;
    display: block;
    margin: 0;
    right: initial;
    top: initial;
    object-fit: none;
  }
  .scheduleGroupHeader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.ScheduleEventList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px 0px 0px 0px;
  overflow: auto;
}

.ScheduleEvent {
  width: 95%;
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  color: black;
  background-color: rgb(219, 222, 224);
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 2px 4px 2px 4px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
  transition: background-color 0.3s;
}
.canHover .ScheduleEvent:hover {
  color: white;
  background-color: rgb(59, 134, 247);
  cursor: pointer;
}

.selectedEvent {
  color: white;
  background-color: rgb(22, 104, 228);
  transition: background-color 0.3s;
}
.canHover .selectedEvent:hover {
  background-color: rgb(29, 118, 252);
}

.ScheduleEvent p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.EventTitle {
  font-weight: bold;
}

.eventDateTime {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.eventDateTime span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 4px 0px 4px;
}

.eventTime {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.eventTime p {
  padding: 0;
}

.eventLocation {
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.eventLocation p {
  padding: 0px 4px 0px 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data {
  display: none;
}

.Footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 0 0 auto;
  justify-content: space-between;
  background-color: rgb(19, 109, 211);
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.801);
  z-index: 1;
}

.Footer p {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 2px;
  font-size: 10pt;
}

.Footer span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin: 2px;
  font-size: 10pt;
  text-align: center;
}

.Footer a {
  display: flex;
  flex-basis: auto;
  margin: 0px 10px 0px 10px;
  padding: 0px 2px 0 2px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.canHover .Footer a:hover {
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: rgb(19, 109, 211);
  background-color: white;
}
