html,
body,
#root {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  box-sizing: border-box;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.Courses {
  max-width: 100%;
  max-height: 100%;
  min-width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 33%;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.CourseListHeader {
  flex-basis: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(224, 227, 228);
  margin: 0;
  width: 100%;
}

.CourseListHeader h3 {
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.searchField {
  flex: 1 1 auto;
  min-width: 0;
  border-style: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  line-height: 22px;
}

.searchField:hover {
  border-color: rgb(52, 160, 248);
  box-shadow: 0px 0px 3px rgb(52, 160, 248);
}

.searchField:focus {
  border-color: rgb(52, 160, 248);
  box-shadow: inset 0px 0px 3px rgb(52, 160, 248);
}

.searchField:hover:focus {
  box-shadow: 0px 0px 3px rgb(52, 160, 248), inset 0px 0px 3px rgb(52, 160, 248);
}

.CourseList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.Course {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(239, 242, 243);
  list-style-type: none;
  padding: 5px 5px 0px 5px;
  text-align: center;
}

.Course:hover {
  background-color: rgb(213, 220, 223);
  cursor: pointer;
}

.courseCode {
  font-weight: bold;
  margin: 0;
}

.courseName {
  margin: 0;
}

.Course p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  align-self: center;
  display: flex;
  margin: 5px 0px 0px 0px;
  width: 95%;
  border-bottom: 1px solid rgb(196, 190, 190);
}

.Schedule {
  min-width: 33%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 33%;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ScheduleHeader {
  flex-basis: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(224, 227, 228);
  margin: 0;
  width: 100%;
}

.ScheduleHeader h3 {
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.scheduleCourseName {
  float: right;
}

.ScheduleGroupList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.ScheduleGroup {
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  background-color: rgb(239, 242, 243);
  list-style-type: none;
  padding: 5px 5px 0px 5px;
  text-align: center;
}

.ScheduleGroup:hover {
  background-color: rgb(213, 220, 223);
  cursor: pointer;
}

.ScheduleGroup p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.Loader {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0;
}

.ScheduleEventList {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.ScheduleEvent {
  width: 95%;
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  box-sizing: border-box;
  background-color: rgb(225, 229, 230);
  list-style-type: none;
  padding: 5px 5px 0px 5px;
  text-align: center;
}

.ScheduleEvent:hover {
  background-color: rgb(213, 220, 223);
  cursor: pointer;
}

.ScheduleEvent p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.Loader {
  font-size: 3rem;
  text-align: center;
  margin: 40px 0;
}
